/*-- scss:defaults --*/

// Navbar
$navbar-bg: #000000;
$navbar-fg: white;


// Colors
$bordo:#990000;
$black: #000000;

// Sass vars
$body-bg: white;
$body-color: $black; 
$link-color: $bordo; 
$footer-bg: $black;

/*-- scss:rules --*/

